SetEnvIf Request_URI ".*" Ngx_Cache_NoCacheMode=off
SetEnvIf Request_URI ".*" Ngx_Cache_StaticMode
SetEnvIf Request_URI ".*" AllowXmlrpc
SetEnvIf Request_URI ".*" AllowWlwManifest
SetEnvIf Request_URI ".*" AllowCountry
SetEnvIf Request_URI ".*" AllowRestApi
SetEnvIf Request_URI ".*" WpLoginNoLimit
SetEnvIf Request_URI ".*" WpCommentNoLimit

RewriteEngine On
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ /public/$1 [L,QSA]

