.splash-container{
    position: fixed !important;
    bottom: 10px;
    left: 10px;
    border-radius: 10px;
    z-index: 99;
    background-color: black;
    min-height: 500px;
    max-height: 500px;
}

.splash-container1{
    margin: 5px;
    /* cursor: url('http://localhost:8000/img/cursor.png'); */
}

/* .splash-container > div {
    overflow-y: auto;
    max-height: 350px;
} */

/* .images-wrapper {    
    line-height: 0;       
     -webkit-column-count: 2;    
     -webkit-column-gap: 0px;    
     -moz-column-count: 2;
     -moz-column-gap: 0px;
      column-count: 2;    
      column-gap: 0px; 
      background-color: black;
 }  
 
 .images-wrapper {    
    display:inline-block;    
    margin-right: auto;    
    margin-left: auto;  
 } */
 .images-wrapper img {    
  width: 100% !important;    
  height: auto !important;  
  } 
 .images-wrapper {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  /* padding: 0 4px; */
  background: black;
}

/* Create four equal columns that sits next to each other */
.image-column {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  max-width: 50%;
}

.image-column div {
  vertical-align: middle;
  width: 100%;
}


 .scrollbar-deep-purple::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-deep-purple::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-deep-purple::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #512da8;
}

.scrollbar-deep-purple {
    scrollbar-color: #512da8 #F5F5F5;
}

.scrollbar-cyan::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-cyan::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-cyan::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #00bcd4;
}

.scrollbar-cyan {
    scrollbar-color: #00bcd4 #F5F5F5;
}

.scrollbar-dusty-grass::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #000000;
    border-radius: 10px;
}

.scrollbar-dusty-grass::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-dusty-grass::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(330deg, #d4fc79 0%, #96e6a1 100%);
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

.scrollbar-ripe-malinka::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-ripe-malinka::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(330deg, #f093fb 0%, #f5576c 100%);
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}

.bordered-deep-purple::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    border: 1px solid #512da8;
}

.bordered-deep-purple::-webkit-scrollbar-thumb {
    -webkit-box-shadow: none;
}

.bordered-cyan::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    border: 1px solid #00bcd4;
}

.bordered-cyan::-webkit-scrollbar-thumb {
    -webkit-box-shadow: none;
}

.square::-webkit-scrollbar-track {
    border-radius: 0 !important;
}

.square::-webkit-scrollbar-thumb {
    border-radius: 0 !important;
}

.thin::-webkit-scrollbar {
    width: 6px;
}

.example-1 {
    position: relative;
    overflow-y: scroll;
    min-height: calc(90vh - 85px);
    max-height: calc(90vh - 85px);
}

/* Style the tab */
.tab {
    overflow: hidden;
    background-color: black;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 8px;
    transition: 0.3s;
    font-size: 17px;
    color: white;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #0891B2;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #0891B2;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 20px;
    border-radius: 5px;
  }

  .select_image {
    padding: 3px !important;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: -5px;
    right: 0px;
    font-size: 20px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  #image_search_button {
    border-radius: 5px 0px 0px 5px !important;
    background-color: white;
    border-right: none;
  }

  #image_search_close {
    border-radius: 0px 5px 5px 0px !important;
    background-color: white;
    border-right: none;
  }

  #image_search_text {
    border: none;
  }

  #image_nav_button{
    cursor: pointer;
    padding-top: 0px;
    font-size: 12;
  }

  .lightbox-gallery{
    background-image: linear-gradient(#4A148C, #E53935);
    background-repeat: no-repeat;
    color: #000;overflow-x: hidden
}
.lightbox-gallery p{
    color:#fff
}
.lightbox-gallery h2{
    font-weight:bold;margin-bottom:40px;padding-top:40px;color:#fff
}
@media (max-width:767px){
    .lightbox-gallery h2{
        -bottom:25px;padding-top:25px;font-size:24px
    }
}
.lightbox-gallery .intro{
    font-size:16px;max-width:500px;margin:0 auto 40px
}
.lightbox-gallery .intro p{margin-bottom:0}
.lightbox-gallery .photos{padding-bottom:20px}
.lightbox-gallery .item{padding-bottom:30px}

.loading{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: url(../img/loading3.gif) center no-repeat #fff;
    opacity: 90%;
}

.image-overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 12px;
    padding: 1px;
    text-align: center;
  }

  .image-container {
    position: relative;
  }
  
  .image-container:hover .image-overlay {
    opacity: 1;
  }

  .image-overlay a {
    font-size: 12px;
    padding: 0px;
    line-height: normal;
  }

.image-zoom-in {
    width: 200% !important;
    z-index: 1;
    border: 2px solid greenyellow;
}

.image-zoom-in1 {
  width: 200% !important;
  z-index: 1;
  border: 2px solid greenyellow;
  left: -100%;
}